
<div id="filterContainer" class="white-bg md-whiteframe-4dp layout-margin">
  <div id="filterInputs" layout="column" layout-gt-xs="row" class="layout-padding">
    <md-input-container>
      <label>First Name</label>
      <input ng-change="addFilter()" type="text" ng-model="vm.filters.firstNameFilter" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0} }">
    </md-input-container>
    <md-input-container>
      <label>Last Name</label>
      <input ng-change="addFilter()" name="lastName" type="text" ng-model="vm.filters.lastNameFilter" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0} }">
    </md-input-container>
    <md-input-container>
      <label>E-Mail</label>
      <input ng-change="addFilter()" name="email" type="email" ng-model="vm.filters.emailFilter" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0} }">
    </md-input-container>
    <md-input-container>
      <label>Gender</label>
      <input ng-change="addFilter()" name="gender" type="text" ng-model="vm.filters.genderFilter" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0} }">
    </md-input-container>
    <md-datepicker ng-model="vm.filters.registeredFilter" ng-change="addFilter()" md-placeholder="Registered" ng-model-options="{updateOn: 'default blur', debounce: {default: 300, blur: 0} }"></md-datepicker>
  </div>
  <div id="filterReset" layout="column" layout-gt-xs="row" >
    <md-button class="md-warn" ng-click="resetFilter()" ng-disabled="vm.filterResetDisabled">СБРОСИТЬ ФИЛЬТР</md-button>
  </div>
</div>
<div class="content">
  <div class="white-bg md-whiteframe-4dp layout-margin">
    <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
      <thead>
      <tr>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">First Name</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Last Name</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">E-Mail</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Gender</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Registered</span>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="person in vm.people">
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.registered }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
